<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Visualização | Roteador</title>
    <link rel="stylesheet" href="../src/css/styles.css">
</head>
<body>
    <main class="container">
        <header class="header">
            <h1 class="header__titulo">Bem-vindo à página de visualização do Roteador</h1>
            <a href="../index.html">Voltar</a>
        </header>
    </main>
</body>
</html>
